// ======================= Nesting - Вложенность =======================
// чтобы повторять одно и то же селекторов снова и снова,
// вы можете писать одни правила стиля внутри других.
// Sass автоматически объединит селектор внешнего правила с селектором внутреннего правила.
nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
}
//  обычно вложенность не советуется больше чем 3 вложености !!!

// ======================= Selector lists - Списки выбора =======================
// Вложенные правила позволяют грамотно обрабатывать списки селекторов 
// (то есть разделенные запятыми селекторы). Каждый комплексный селектор (те, что между запятыми) 
// является вложенным. отдельно, а затем снова объединяются в список списка.

.alert, .warning, .succsess, .top{
    ul, p {
      margin-right: 0;
      margin-left: 0;
      padding-bottom: 0;
    }
}


// ======================= Combinators - Селекторные комбинаторы =======================
// Вы также можете вкладывать селекторы, использующие комбинаторы. Вы можете поставить 
// комбинатор в конце внешнего селектора, в начале внутреннего селектор или даже все по отдельности между двумя.

ul > {
    li {
      list-style-type: none;
    }
  }
  
  h2 {
    + p {
      border-top: 1px solid gray;
    }
  }
  
  p {
    ~ {
      span {
        opacity: 0.8;
      }
    }
  }